<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">
    <test verbose="2" preserve-order="true" name="C:/AutolabProject/Task2"><classes>
        <class name="Tests.OnlinerTest"><methods>
            <include name="TestOnliner"/>
            <include name="Resultscheck"/>
        </methods>
        </class>
    </classes>
    </test>
</suite>